<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>樂食 - Enjoy eat!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='fonts/cwTeXHei-zhonly.ttf' rel='stylesheet' type='text/css'>
	<link href="../Content/bootstrap.min.css" rel="stylesheet">
  <link href="../Content/bootstrap.css" rel="stylesheet">
	<link href="../Content/main.css" rel="stylesheet">
  <link href="../Content/font-awesome.css" rel="stylesheet">


  <!-- Fav and touch icons -->
  <script type="text/javascript" src="../Scripts/jquery.min.js"></script>
  <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="../Scripts/scripts.js"></script>
  <script type="text/javascript" src="../Scripts/main.js"></script>
</head>


<body style="background-image:url('img/bg.jpg');">
      <div class="container-fluid coco">
        <nav class="navbar navbar-default" role="navigation" style=" margin-top: 20px;">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" style=" padding-top: 0px; " href="#"><img src="img/logo.png" style="width:20%;"></a>
          </div>

          <div class="collapse navbar-collapse  navbar-ex1-collapse "style=" margin-top: 50px; ">
              <ul class="nav navbar-nav">
                <li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle downwid" data-toggle="dropdown" >LOCATION<br>地區</a>
                      <ul class="dropdown-menu ">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                </li>
                <li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle downwid" data-toggle="dropdown">PRICE<br>價位</a>
                      <ul class="dropdown-menu ">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>
                </li>
                <li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle downwid" data-toggle="dropdown">FOODTYPE<br>美食類型</a>
                      <ul class="dropdown-menu ">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>
                </li>
              </ul>
          </div>
        </nav><!-- nav -->
      </div>
      














        <div class="indextitle container-fluid p150" style="color: black;">
          <h2>New restaurant will coming soon!</h2>
          <h1>Now enjoy eat!<h1>
        </div>



        <div class="p150">

          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/1.jpg');">
              <a href="restaurant.html">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/2.jpg');">
              <a href="#">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/3.jpg');">
              <a href="#">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/4.jpg');">
              <a href="#">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/5.jpg');">
              <a href="#">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/6.jpg');">
              <a href="#">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/7.jpg');">
              <a href="#">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>


          <div class="col-xs-12 col-sm-4 col-md-3 p0 portfolio-item">
            <div class="portfolio-thumb" style="background-image:url('img/8.jpg');">
              <a href="#">
                <div class="pictitle">爭鮮</div>
                <div class="image-overlay"></div>
                <div class="portfolio-zoom">
                      <h4>爭鮮回轉壽司</h4>
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      找不到一句　適合的話對你述說
                      接受我　接受我　接受我　從今以後
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢
                      真想要找一句　會讓你心動的話語
                      讓你接受我　接受我　接受我　請你答應我
                      哈囉你好嗎　衷心感謝　珍重再見　期待再相逢</div>
              </a>
            </div>
          </div>

        </div>

</body>
<div style="color:transparent">.</div>
<footer style='background-color:rgba(0,0,0,0.8);' id="id_footer">
<div>Enjoy eat! © 2015.</div>
</footer>


</html>

