<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>樂食 - Enjoy eat!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='fonts/cwTeXHei-zhonly.ttf' rel='stylesheet' type='text/css'>
  <link href="../Content/bootstrap.min.css" rel="stylesheet">
  <link href="../Content/bootstrap.css" rel="stylesheet">
  <link href="../Content/main.css" rel="stylesheet">
  <link href="../Content/font-awesome.css" rel="stylesheet">
  <link href="../Content/event.css" rel="stylesheet">


  <!-- Fav and touch icons -->
  <script type="text/javascript" src="../Content/jquery.min.js"></script>
  <script type="text/javascript" src="../Content/bootstrap.min.js"></script>
  <script type="text/javascript" src="../Content/scripts.js"></script>
  <script type="text/javascript" src="../Content/main.js"></script>
  <script src="../Content/modernizr.custom.min.js"></script>
  <script src="../Content/jquery-1.10.2.min.js"></script>
  <script src="../Content/jquery-ui-1.10.3.custom.min.js"></script>

  <link href="../Content/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
  <script type="text/javascript" src="../Content/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="../Content/jquery-ui-1.10.4.min.js"></script>
  <script type="text/javascript" src="../Content/jquery.easing.1.3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

  <script type="text/javascript" src="../Content/jquery.slimscroll.min.js"></script>
</head>


<body style="background-color:rgba(240,239,238,0.8);">
  <div class="container-fluid coco">
        <nav class="navbar navbar-default" role="navigation" style=" margin-top: 20px;">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" style=" padding-top: 0px; " href="#"><img src="img/logo.png" style="width:20%;"></a>
          </div>

          <div class="collapse navbar-collapse  navbar-ex1-collapse "style=" margin-top: 50px; ">
              <ul class="nav navbar-nav">
                <li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle downwid" data-toggle="dropdown" >LOCATION<br>地區</a>
                      <ul class="dropdown-menu ">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                </li>
                <li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle downwid" data-toggle="dropdown">PRICE<br>價位</a>
                      <ul class="dropdown-menu ">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>
                </li>
                <li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle downwid" data-toggle="dropdown">FOODTYPE<br>美食類型</a>
                      <ul class="dropdown-menu ">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>
                </li>

                <li>
                  <br>
                  <input type="text" class="form-control" id="invitecode" placeholder="請輸入邀請碼">
                </li>



              </ul>
          </div>
        </nav><!-- nav -->
  </div><!-- nav -->
      
  <div class="container inthediv">
    <div class="col-md-10">
      <div class="eventtitle">龜山國小 五年甲班同學會</div>
      <div class="eventinfo">
        <div class="info">好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見好久不見。</div>
      </div>
      <div class="eventvote">vote</div>

    </div>
    

    <div class="col-md-2" style="border-left: 1px solid gray;padding-left: 0px;padding-right: 0px;">
      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>

      <div class="friend">
        <div class="friendpic"><img src="img/friend.png"></div>
        <div class="friendname">陳玠任</div>
      </div>
    </div><!-- friends -->

  </div><!-- inthediv -->


</body>


<footer style='background-color:rgba(0,0,0,0.8);'>
<div>Enjoy eat! © 2015.</div>
</footer>

</html>
                      