<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="../Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="../Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-ui.min.js"></script>
    <link href="../Content/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />
    <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
    <script src="../Scripts/kendowidget.js"></script>
    <link href="../Content/main.css" rel="stylesheet" />
    <title></title>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div data-role="page" id="search">
        <div data-role="header">
            <h1>查詢全部訂票</h1>
            <a href="#index" data-transition="slide" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">首頁</a>
        </div>
        <div data-role="navbar">
            <ul>
                <li><a data-icon="refresh" data-theme="a" id="refresh"></a></li>
               
                <li><a href="#edit" data-icon="check"></a></li>
            </ul>
        </div>
        <div data-role="content">          
                <div id="grid"></div>
        </div>
     
        <div data-role="footer" style="text-align:center;">
            2015 ASP.NET by KuasMis&reg;
        </div>
    </div>
</body>
</html>
